<!DOCTYPE html>
<html>
  <head>
    <%- include('../components/head') %>
  </head>
  <body>
    <header class="text-center">
      <h1>
        Dream-DL
      </h1>
      <h2>
        Youtubeの動画を無料でダウンロードできるツール
      </h2>
    </header>
    <script src="http://localhost:8080/js/dl.js"></script>
  </body>
</html>