<!DOCTYPE html>
<html>
  <head>
    <%- include('../components/head') %>
  </head>
  <body>
    <header class="text-center">
      <h1>
        Dream-DL
      </h1>
      <h2>
        Youtubeの動画を無料でダウンロードできるツール
      </h2>
    </header>
  </body>
</html>